/.vscode/*/
/.vscode/Code/*
!/.vscode/Code/
!/.vscode/Code/Backups/

!/.vscode/Code/User/
/.vscode/Code/User/*
!/.vscode/Code/User/keybindings.json

/__pycache__

workspaces.json
*.log
Lark
krkr-xp3